.carousel-1__item {
	width: 100%;
	height: calc(100vh - 3rem);
	background-size: cover;
	background-position: 50% 50%;
}

.carousel-1__item--1 {
	background-image: url('../../../img/1.jpg');
}

.carousel-1__item--2 {
	background-image: url('../../../img/2.jpg');
}

.carousel-1__item--3 {
	background-image: url('../../../img/3.jpg');
}

.carousel-1__button {
	position: absolute;
	top: 0;
	height: calc(100vh - 3rem);
	padding: 1rem;
	background-color: #ffffff16;

	color: #ffffff;

	font-size: 10rem;
}

.carousel-1__button--next {
	right: 0;
}

.carousel-1__button--previous1 {
	left: 0;
}

@media (max-width: 768px) {
	.carousel-1__button {
		font-size: 2rem;
	}
}

@media (max-width: 480px) {
	.carousel-1__button {
		font-size: 1rem;
	}
}
